# Ex3 - Obtener y conocer sus datos

### Paso 1. Importar las bibliotecas necesarias

In [1]:
import pandas as pd

### Paso 2. Importe el conjunto de datos desde esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [10]:
!curl -o data/Users.csv https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0Warning: Failed to open the file data/Users.csv: No such file or directory

  0 22667    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
curl: (23) client returned ERROR on write of 8268 bytes

### Paso 3. Asígnalo a una variable llamada users y usa el 'user_id' como índice

In [42]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep= '|')
print(users.head())

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [43]:
users.set_index('user_id', inplace=True)
print(users.head())
print(users.index)

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213
Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

In [44]:
print(users.index)

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

### Paso 4. Ver las 25 primeras entradas
Resuélvelo de 2 maneras diferentes

In [45]:
print(users.head(25))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

In [46]:
print(users[:25])

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### Paso 5. Ver las 10 últimas entradas

In [47]:
print(users.tail(10))

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### Paso 6. ¿Cuál es el número de observaciones del conjunto de datos?
Resuélvelo de 2 formas diferentes

In [ ]:
# El número de observaciones es el número de filas

In [48]:
n_observaciones = users.shape[0] # 0 porque queremos saber el número de filas (si fuesen columnas sería el 1)
print(n_observaciones)

943

### Paso 7. ¿Cuál es el número de columnas del conjunto de datos?
Resuélvelo de 2 formas diferentes

In [49]:
n_columnas = users.shape[1]
print(n_columnas)

4

In [50]:
num_columnas = len(users.columns)
print(num_columnas)

4

### Paso 8. Imprime el nombre de todas las columnas.

In [51]:
print(users.columns)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [52]:
print(list(users.columns)) # Lo convertimos en una lista para que me imprima los nombres

['age', 'gender', 'occupation', 'zip_code']

In [53]:
# También se puede hacer con un bucle
for columna in users.columns:
    print(columna)

age
gender
occupation
zip_code

### Paso 9. ¿Cómo se indexa el conjunto de datos? Obtener los valores del índice

In [54]:
valores_indice = users.index
print(valores_indice)

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

### Paso 10. ¿Cuál es el tipo de datos de cada columna?
Resuélvelo de 2 formas diferentes

In [55]:
tipo_datos = users.dtypes
print(tipo_datos)

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [56]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

### Paso 11. Imprime sólo la columna de ocupación
Resuélvelo de 2 formas diferentes

In [57]:
print(users['occupation'])

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [58]:
print(users.occupation)

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### Paso 12. ¿Cuántas ocupaciones diferentes hay en este conjunto de datos? ¿Cuántos usuarios por ocupación hay en el conjunto de datos?

In [60]:
numero_trabajos = users['occupation'].nunique()
print(numero_trabajos)

21

In [61]:
ususarios_por_trabajo = users['occupation'].value_counts()
print(ususarios_por_trabajo)

occupation
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: count, dtype: int64

### Paso 13. ¿Cuál es la ocupación más frecuente?

In [ ]:
ocupacion_mas_frecuente = users['occupation'].mode()[0] # 0 para obtener solo la primera ocupación más frecuente
print(ocupacion_mas_frecuente)

student

### Paso 14. Resuma el DataFrame.

In [64]:
resumen = users.info()
print(resumen)

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB
None

In [ ]:
# No es necesario crear la variable
users.info() # Esto vale

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

### Paso 15. Resuma todas las columnas

In [66]:
print(users.describe())

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### Paso 16. Resuma sólo la columna de ocupación

In [67]:
# Estadísticas descriptivas
print(users['occupation'].describe())

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [68]:
# Numeros de valores únicos en la columna
print(users['occupation'].nunique())

21

In [70]:
# Y todo lo que hemos hecho arriba
# Frecuencia de cada ocupación en la columna 'occupation'
# Ocupacion más frecuente

### Paso 17. ¿Cuál es la edad media de los usuarios?

In [71]:
edad_media = users['age'].mean()
print(edad_media)

34.05196182396607

### Paso 18. ¿Cuál es la edad con menos ocurrencias?

In [72]:
# Contar las ocurrencias de cada edad
frecuencia_edades = users['age'].value_counts()

# Encontrar la edad con menos ocurrencias (mínima frecuencia)
edad_con_menos_ocurrencias = frecuencia_edades.idxmin()

print(edad_con_menos_ocurrencias)

7