# Introducción a los objetos Pandas

A un nivel muy básico, los objetos Pandas pueden considerarse como versiones mejoradas de los arrays estructurados de NumPy, en los que las filas y columnas se identifican con etiquetas en lugar de simples índices enteros.
Como veremos a lo largo de este notebook, Pandas proporciona una gran cantidad de herramientas útiles, métodos y funcionalidades sobre las estructuras de datos básicas, pero casi todo lo que sigue requerirá una comprensión de lo que son estas estructuras.
Por lo tanto, antes de seguir adelante, vamos a introducir estas tres estructuras de datos fundamentales de Pandas: ``Series``, ``DataFrame``, y ``Index``.

Comenzaremos nuestras sesiones de código con las importaciones estándar de NumPy y Pandas:

In [73]:
# Las series se pueden transformar en dataframe y los dataframe en series
# Todas las importaciones se hacen arriba del todo aunque no las utilices hasta el final
#  Diferencias entre series y array : La serie tiene indice, el array no. La serie la imprime vertical, el array en horizontal

In [74]:
import numpy as np
import pandas as pd

## El objeto Series de Pandas

Una ``Series`` de Pandas es un array unidimensional de datos indexados.
Se puede crear a partir de una lista o array de la siguiente manera:

In [75]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

Como vemos en la salida, la ``Series`` envuelve tanto una secuencia de valores como una secuencia de índices, a los que podemos acceder con los atributos ``values`` e ``index``.
Los ``valores`` son simplemente una matriz NumPy familiar:

In [76]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

El ``index`` es un objeto tipo array del tipo ``pd.Index``, del que hablaremos con más detalle mas adelante.

In [77]:
data.index

RangeIndex(start=0, stop=4, step=1)

Al igual que con una matriz NumPy, se puede acceder a los datos por el índice asociado mediante la conocida notación de corchetes de Python:

In [78]:
# Encontrar elementos
data[1]

np.float64(0.5)

In [79]:
# Sacar un slicing
data[1:3]

1    0.50
2    0.75
dtype: float64

Como veremos, sin embargo, la ``Series`` de Pandas es mucho más general y flexible que el array unidimensional de NumPy que emula.

### ``Series`` como matriz NumPy generalizada

Por lo que hemos visto hasta ahora, puede parecer que el objeto ``Series`` es básicamente intercambiable con un array unidimensional de NumPy.
La diferencia esencial es la presencia del índice: mientras que el array de Numpy tiene un índice entero *implícitamente definido* usado para acceder a los valores, las ``Series`` de Pandas tienen un índice *explícitamente definido* asociado a los valores.

Esta definición explícita del índice proporciona al objeto ``Series`` capacidades adicionales. Por ejemplo, el índice no necesita ser un entero, sino que puede consistir en valores de cualquier tipo deseado.
Por ejemplo, si lo deseamos, podemos utilizar cadenas como índice:

In [80]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd']) # Le da nombre a los indices
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

Y el acceso al item funciona como se esperaba:

In [81]:
# Así se accede al 0.50 por ejemplo
data['b']

np.float64(0.5)

Incluso podemos utilizar índices no contiguos o no secuenciales:

In [82]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7]) # crea indices no consecutivos
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [83]:
data[5]

np.float64(0.5)

### Series como diccionario especializado

De esta manera, se puede pensar en una ``Series`` de Pandas como una especialización de un diccionario de Python.
Un diccionario es una estructura que asigna claves arbitrarias a un conjunto de valores arbitrarios, y una ``Series`` es una estructura que asigna claves tipadas a un conjunto de valores tipados.
Esta tipificación es importante: al igual que el código compilado de tipo específico detrás de un array de NumPy hace que sea más eficiente que una lista de Python para ciertas operaciones, la información de tipo de una ``Series`` de Pandas hace que sea mucho más eficiente que los diccionarios de Python para ciertas operaciones.

La analogía ``Series``-como-diccionario puede hacerse aún más clara construyendo un objeto ``Series`` directamente desde un diccionario Python:

In [84]:
# Un diccionario también te devulve una serie
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Por defecto, se creará una ``Series`` donde el índice se extrae de las claves ordenadas.
A partir de aquí, se puede realizar el típico acceso a ítems estilo diccionario:

In [85]:
population['California']

np.int64(38332521)

Sin embargo, a diferencia de un diccionario, ``Series`` también admite operaciones de tipo matriz, como el troceado:

In [86]:
population['California':'Illinois'] # Añade también el último elemento porque a un string no se le puede restar 1

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

### Construcción de objetos de la serie

Ya hemos visto algunas formas de construir una ``Series`` de Pandas desde cero; todas ellas son alguna versión de lo siguiente:

```python
>>> pd.Series(data, index=index)
```

donde ``index`` es un argumento opcional, y ``data`` puede ser una de muchas entidades.

Por ejemplo, ``data`` puede ser una lista o un array NumPy, en cuyo caso ``index`` es por defecto una secuencia entera:

In [87]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

``data`` puede ser un escalar, que se repite para llenar el índice especificado:

In [88]:
pd.Series(5, index=[100, 200, 300]) # En este caso se agrega el 5 las veces que se aprezca en la lista[]

100    5
200    5
300    5
dtype: int64

``data`` puede ser un diccionario, en el que ``index`` toma por defecto las claves ordenadas del diccionario:

In [89]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

En cada caso, el índice puede fijarse explícitamente si se prefiere un resultado diferente:

In [90]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2]) #  Filtra y ordena

3    c
2    a
dtype: object

Tenga en cuenta que, en este caso, ``Series`` sólo se rellena con las claves identificadas explícitamente.

## El objeto DataFrame de Pandas

La siguiente estructura fundamental en Pandas es el ``DataFrame``.
Al igual que el objeto ``Series`` discutido anteriormente, el ``DataFrame`` se puede considerar como una generalización de un array NumPy, o como una especialización de un diccionario Python.
Vamos a echar un vistazo a cada una de estas perspectivas.

### DataFrame como un array NumPy generalizado
Si una ``Series`` es un análogo de un array unidimensional con índices flexibles, un ``DataFrame`` es un análogo de un array bidimensional con índices de fila flexibles y nombres de columna flexibles.
Del mismo modo que se puede pensar en una matriz bidimensional como una secuencia ordenada de columnas unidimensionales alineadas, se puede pensar en un ``DataFrame`` como una secuencia de objetos ``Series`` alineados.
Por "alineados" entendemos que comparten el mismo índice.

Para demostrarlo, construyamos primero una nueva ``Series`` que enumere el área de cada uno de los cinco estados analizados en la sección anterior:

In [91]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

Ahora que tenemos esto junto con la serie ``population`` de antes, podemos utilizar un diccionario para construir un único objeto bidimensional que contenga esta información:

In [92]:
# En un DataFrame van primero las columnas y luego los datos(valores)
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

Al igual que el objeto ``Series``, el ``DataFrame`` tiene un atributo ``index`` que da acceso a las etiquetas de índice:

In [93]:
# Lista de indices
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Además, el ``DataFrame`` tiene un atributo ``columns``, que es un objeto ``Index`` que contiene las etiquetas de las columnas:

In [94]:
# Etiquetas de las columnas
states.columns

Index(['population', 'area'], dtype='object')

Así, el ``DataFrame`` puede considerarse como una generalización de un array NumPy bidimensional, donde tanto las filas como las columnas tienen un índice generalizado para acceder a los datos.

### DataFrame como diccionario especializado

Del mismo modo, también podemos pensar en un ``DataFrame`` como una especialización de un diccionario.
Mientras que un diccionario asigna una clave a un valor, un ``DataFrame`` asigna un nombre de columna a una ``Series`` de datos de columna.
Por ejemplo, pedir el atributo ``'area'`` devuelve el objeto ``Series`` que contiene las áreas que hemos visto antes:

In [95]:
# Esto devuelve una serie pero si pongo dos corchetes devuelve un DataFrame que son de 2 dimensiones
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Fíjate en el posible punto de confusión: en un array NumPy de dos dimensiones, ``data[0]`` devolverá la primera *fila*. Para un ``DataFrame``, ``data['col0']`` devolverá la primera *columna*.
Debido a esto, probablemente sea mejor pensar en los ``DataFrame`` como diccionarios generalizados que como arrays generalizados, aunque ambas formas de ver la situación pueden ser útiles.

### Construcción de objetos DataFrame

Un ``DataFrame`` de Pandas se puede construir de varias maneras.
Aquí daremos varios ejemplos.

#### A partir de un único objeto Series

Un ``DataFrame`` es una colección de objetos ``Series``, y se puede construir un ``DataFrame`` de una sola columna a partir de una única ``Series``:

In [96]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [97]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

#### A partir de una lista de diccionarios

Cualquier lista de diccionarios puede convertirse en un ``DataFrame``.
Usaremos una simple comprensión de lista para crear algunos datos:

In [98]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Incluso si faltan algunas claves en el diccionario, Pandas las rellenará con valores ``NaN`` (es decir, "Not a Number"):

In [99]:
# Aquí no da error porque rellena  con un NaN lo que no tiene valor
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [100]:
# Atributo adicional de los DataFrame (Mostrar tipos)
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}]).dtypes

# Los datos tipo object pueden ser cualquier tipo de dato (no sabes si es string o float o lo que sea)

a    float64
b      int64
c    float64
dtype: object

#### A partir de un diccionario de objetos Series

Como hemos visto antes, un ``DataFrame`` también puede construirse a partir de un diccionario de objetos ``Series``:

In [101]:
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

#### A partir de una matriz NumPy bidimensional

Dado un array bidimensional de datos, podemos crear un ``DataFrame`` con cualquier nombre de columna e índice especificado.
Si se omite, se utilizará un índice entero para cada uno:

In [102]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.402837  0.094915
b  0.217207  0.365630
c  0.064621  0.020037

#### A partir de una matriz estructurada NumPy

Un ``DataFrame`` de Pandas funciona de forma muy parecida a un array estructurado, y se puede crear directamente a partir de uno:

In [103]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [104]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## El objeto índice de Pandas

Hemos visto aquí que tanto los objetos ``Series`` como ``DataFrame`` contienen un *index* explícito que permite referenciar y modificar datos.
Este objeto ``Index`` es una estructura interesante en sí misma, y puede ser vista como un *array inmutable* o como un *conjunto ordenado* (técnicamente un multi-conjunto, ya que los objetos ``Index`` pueden contener valores repetidos).
Estos puntos de vista tienen algunas consecuencias interesantes en las operaciones disponibles sobre los objetos ``Index``.
Como ejemplo sencillo, construyamos un ``Index`` a partir de una lista de enteros:

In [105]:
# pd.index + una lista
ind = pd.Index([2, 3, 5, 7, 11])
ind

Index([2, 3, 5, 7, 11], dtype='int64')

### Índice como array inmutable

El ``Index`` en muchos aspectos funciona como un array.
Por ejemplo, podemos utilizar la notación de indexación estándar de Python para recuperar valores o rebanadas:

In [106]:
ind[1]

np.int64(3)

In [107]:
ind[::2] # Todos de 2 en 2

Index([2, 5, 11], dtype='int64')

Los objetos ``Index`` también tienen muchos de los atributos familiares de las matrices NumPy:

In [108]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

Una diferencia entre los objetos ``Index`` y las matrices NumPy es que los índices son inmutables, es decir, no se pueden modificar por los medios normales:

In [109]:
# Los indices son NO MUTABLES no podemos operar con ellos
ind[1] = 0

TypeError: Index does not support mutable operations

Esta inmutabilidad hace que sea más seguro compartir índices entre múltiples ``DataFrame`` y matrices, sin el potencial de efectos secundarios de la modificación inadvertida del índice.

### Índice como conjunto ordenado

Los objetos Pandas están diseñados para facilitar operaciones como uniones entre conjuntos de datos, que dependen de muchos aspectos de la aritmética de conjuntos.
El objeto ``Index`` sigue muchas de las convenciones utilizadas por la estructura de datos ``set`` de Python, de modo que las uniones, intersecciones, diferencias y otras combinaciones se pueden calcular de una manera familiar:

In [112]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [113]:
indA & indB  # intersección

Index([0, 3, 5, 7, 9], dtype='int64')

In [111]:
indA | indB  # unión

Index([3, 3, 5, 7, 11], dtype='int64')

In [110]:
indA ^ indB  # diferencia simétrica

Index([3, 0, 0, 0, 2], dtype='int64')

También se puede acceder a estas operaciones mediante métodos de objetos, por ejemplo ``indA.intersection(indB)``.

<!--NAVIGATION-->
< [Introducción a Pandas](0-Introduccion_a_Pandas.ipynb) | [Indexación y selección de datos](2-Indexacion_y_seleccion_de_datos.ipynb) >