# Regiment

### Paso 1. Importar librerias

In [1]:
import numpy as np
import pandas as pd

### Paso 2. Cree el DataFrame con los siguientes valores:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Paso 3. Asígnalo a una variable llamada regimiento.
##### No olvides nombrar cada columna

In [5]:
regimiento = pd.DataFrame(raw_data)
regimiento.columns = ['Regimiento', 'Compañía', 'Nombre', 'Puntaje_Pretest', 'Puntaje_Posttest']
regimiento

    Regimiento Compañía    Nombre  Puntaje_Pretest  Puntaje_Posttest
0   Nighthawks      1st    Miller                4                25
1   Nighthawks      1st  Jacobson               24                94
2   Nighthawks      2nd       Ali               31                57
3   Nighthawks      2nd    Milner                2                62
4     Dragoons      1st     Cooze                3                70
5     Dragoons      1st     Jacon                4                25
6     Dragoons      2nd    Ryaner               24                94
7     Dragoons      2nd      Sone               31                57
8       Scouts      1st     Sloan                2                62
9       Scouts      1st     Piger                3                70
10      Scouts      2nd     Riani                2                62
11      Scouts      2nd       Ali                3                70

### Paso 4. ¿Cuál es la puntuación media preTestScore del regimiento Nighthawks?

In [8]:
media = regimiento[regimiento['Regimiento']== 'Nighthawks']

media['Puntaje_Pretest'].mean()

np.float64(15.25)

### Paso 5. Presentar estadísticas generales por empresa

In [9]:
regimiento.groupby('Compañía').describe()

         Puntaje_Pretest                                                      \
                   count       mean        std  min   25%   50%    75%   max
Compañía
1st                  6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd                  6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

         Puntaje_Posttest
                    count       mean        std   min    25%   50%   75%   max
Compañía
1st                   6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd                   6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

### Paso 6. ¿Cuál es la media de la puntuación preTest de cada empresa?

In [10]:
regimiento.groupby('Compañía')['Puntaje_Pretest'].mean()

Compañía
1st     6.666667
2nd    15.500000
Name: Puntaje_Pretest, dtype: float64

### Paso 7. Presentar las puntuaciones medias preTest agrupadas por regimiento y compañía.

In [11]:
regimiento.groupby(['Regimiento', 'Compañía'])['Puntaje_Pretest'].mean()

Regimiento  Compañía
Dragoons    1st          3.5
            2nd         27.5
Nighthawks  1st         14.0
            2nd         16.5
Scouts      1st          2.5
            2nd          2.5
Name: Puntaje_Pretest, dtype: float64

### Paso 8. Presentar las puntuaciones medias preTestScores agrupadas por regimiento y compañía sin indexación heirárquica.

In [12]:
regimiento.groupby(['Regimiento', 'Compañía'])['Puntaje_Pretest'].mean().reset_index()

   Regimiento Compañía  Puntaje_Pretest
0    Dragoons      1st              3.5
1    Dragoons      2nd             27.5
2  Nighthawks      1st             14.0
3  Nighthawks      2nd             16.5
4      Scouts      1st              2.5
5      Scouts      2nd              2.5

### Paso 9. Agrupar todo el marco de datos por regimiento y compañía

In [17]:
regimiento.groupby(['Regimiento', 'Compañía']).agg('mean', numeric_only = True)

                     Puntaje_Pretest  Puntaje_Posttest
Regimiento Compañía
Dragoons   1st                   3.5              47.5
           2nd                  27.5              75.5
Nighthawks 1st                  14.0              59.5
           2nd                  16.5              59.5
Scouts     1st                   2.5              66.0
           2nd                   2.5              66.0

### Paso 10. ¿Cuál es el número de observaciones en cada regimiento y compañía?

In [14]:
regimiento.groupby(['Regimiento', 'Compañía']).size()

Regimiento  Compañía
Dragoons    1st         2
            2nd         2
Nighthawks  1st         2
            2nd         2
Scouts      1st         2
            2nd         2
dtype: int64

### Paso 11. Iterar sobre un grupo e imprimir el nombre y todos los datos del regimiento. Haz una función llamada agrupa(variable)

In [ ]:
def agrupa(variable):
    grupos = regimiento.groupby(variable)
    
    for nombre_regimiento, datos_regimiento in grupos:
        print(f"Regimiento: {nombre_regimiento}")
        print(datos_regimiento)
        print("\n")

In [19]:
# ChatGPT dice que es mejor hacerlo así:
def agrupa(variable):
    # Agrupar el DataFrame por la columna pasada como parámetro
    grupos = regimiento.groupby(variable)
    
    # Usar .apply para iterar sobre los grupos y luego imprimir los datos de cada uno
    grupos.apply(lambda grupo: print(f"\nRegimiento: {grupo.name}\n{grupo}"))